

<h1>CHANGE ROOM PAGE</h1>
<div class="change-cont">

	<div class="change-item">
		<%= button("VENT", to: Routes.page_path(@conn, :change_room, %{role: "vent"}), class: "change-room") %>
	</div>
	<div class="change-item">
		<%= button("LISTEN", to: Routes.page_path(@conn, :change_room, %{role: "listen"}), class: "change-room") %>

	</div>

</div>
