

<script>
window.userToken = "<%= assigns[:auth_token] %>";
window.roomId = "<%= assigns[:room_id] %>";
window.userId = "<%= assigns[:user_id] %>";
window.username = "<%= assigns[:username] %>";
</script>

<h1>CHAT PAGE</h1>
<h1>user id: <%=@conn.assigns.user_id %> </h1>
<h1>room id: <%=@conn.assigns.room_id %></h1>
<h1>auth token: <%=@conn.assigns.auth_token %></h1>
<h1>username: <%=@conn.assigns.username %></h1>
