
<h1>Welcome to Vent</h1>
<%= form_for @changeset, Routes.page_path(@conn, :chat),  fn f -> %>
<%= if @changeset.action do %>
	<div class="alert alert-danger">
	Sorry, there are errors in your submission. Please correct them.
	</div>
<% end %>

 Name <%= text_input f, :name %>
 <%= error_tag f, :name %>
  <%= submit "Vent", name: "vent" %>
  <%= submit "Listen", name: "listen" %>
<% end %>
